.container-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(0, 47, 255);
    background-color: rgba(255, 255, 255, 0.50);


    border-radius: 30px;

    height: 200px;
    width: 400px;
    margin-bottom: 30px;

    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);

}

.container-item:hover{
    cursor: pointer;
    color: white;
    border: 1px solid black;
   
}



.info-item{
    width: 220px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info-item .nome-item{
    font-weight: bold;
    font-size: 25px;
}
.info-item .desc-item{
    width: 100%;
    margin-top: -30px;
    font-size: 20px;
}
.info-item .preco-item{
    font-size: 25px;
}


.img-item{
    margin-top: 25px;
    margin-right: 20px;
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 10px;
}