{
  "presets": [
    ["es2015"],
    [
      "@babel/preset-react",
      { "runtime": "automatic", "importSource": "@emotion/react" }
    ]
  ],
  "plugins": [
    "transform-es2015-arrow-functions",
    "transform-async-to-generator"
  ]
}
