/* * {
  margin: 0;
  padding: 0;
} */

/* main {
  background-color: #fff;
  width: 100%;
} */

/* #root {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.3) 100%
    ),
    url("http://www.pubdopastel.com.br/img/slider/slide1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;


} */

@font-face {
  font-family: "Insanibu";
  src: local("Insanibu"), url(assets/fonts/Insanibu.ttf) format("truetype");
}

.cursor-pointer {
  cursor: pointer;
}


